* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif, sans-serif;

}
/* Utility */
h1 {
  font-size: 55px;
}

img {
  height: 450px;
  width: 600px;
}

button {
  background-color: #3882F6;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 200px;
}

button:hover {
  background-color: #f4f4f4;
  color: #1F2937;

}

/* Navbar */
.navbar {
  background-color: #1F2937;
  color: #fff;
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar p {
  font-size: 30px;
}

.navbar ul {
  margin-left: 500px;
  list-style: none;
  display: flex;

}

.navbar ul li {
  padding: 20px;
}

.navbar ul li:hover {
  background-color: #f4f4f4;
  color: #1F2937;
}

/* Showcase */

.show_case {
  background-color: #1F2937;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  
}

.show_case .left_side {
  width: 500px;
}

.show_case .left_side p {
  margin: 20px 0;
}

/* Content Info */

h2 {
  font-size: 48px;
  text-align: center;
  margin: 30px 0;
}

.features img {
  height: 300px;
  width: 300px;
  margin: 15px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 40px;  
}

.features .item_img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 300px;
  padding: 10px;
 }

 .features .item_img img {
  height: 460px;
  width: 300px;
  
}

.features .item_img p {
  margin: 10px 20px;
}

/* Techinical Skills */
.technical_skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
  font-size: 36px;
  padding: 100px;
}

/* Call to Action */

.call_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 150px;
}

.action_initiate {
  background-color: #3882F6;
  color: #fff;
  display: flex;
  justify-content: space-around;
  width: 700px;
  padding: 50px;
  border-radius: 5px;
}

.action_initiate div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.action_initiate .left_side label {
  margin: 15px 0px;
}

.action_initiate .left_side input {
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 5px;

}

.action_initiate .right_side textarea {
  margin: 10px 0;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 5px;
}


.action_initiate button {
  background-color: #3882F6;
  color: #fff;
  align-self: flex-end;
  padding: 10px;
  text-align: center;
  border: 1px #fff solid;
  border-radius: 5px;
  width: 100px;
  }

  .action_initiate button:hover {
    background-color: #f4f4f4;
    color: #3882F6;

  }

  /* Footer */
  footer {
    text-align: center;
    background-color: #1F2937;
    color: #fff;
    padding: 50px;
  }